* {
  font-family: "Inter", sans-serif;
  padding: 0%;
  margin: 0%;
}

.navbar {
  display: flex;
  padding: 20px 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(53, 53, 53, 0.1);
  padding: 16px 120px 16px 120px;
}

.navbar-links {
  display: flex;
  gap: 32px;
}

.navbar-links a {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar-links a:hover {
  color: rgb(84, 95, 238);
  /* cursor: pointer; */
}

.btn-n {
  color: rgba(255, 255, 255, 1);
  background-color: #30B868;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 12.5px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn-n:hover {
  color: rgb(79, 255, 79);
  background-color: transparent;
  /* outline: green; */
  border: 1px solid rgb(0, 255, 0);
}

.btn2 {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  /* gap: 10; gap*/
  /* not working , i dont know why */
  align-items: center;
  justify-content: center;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.btn2:hover {
  color: white;
  border: 1px solid white;
  background-color: rgb(78, 151, 141);

}

.head-sect {
  background-color: #1e2933;
  background-image: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 0;
  color: white;
  position: relative;
  overflow: hidden;
}

.head-container {
  max-width: 900px;
}

.head-container p {
  color: white;
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
}

.head-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 40px;
}

.container {
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 0 20px;
}

.early-open {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 229px; */
  width: fit-content;
  gap: 6px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 12px 8px 12px;
  border-radius: 100px;
  margin: 0 auto;
  margin-bottom: 14px;
  color: #30B868;
}

.btn {
  color: rgb(255, 255, 255);
  background-color: #30B868;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: #008638;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

h1 {
  font-size: 72px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.notes-sect {
  background-color: #ffffff;
  color: #1F2937;
  gap: 44;
  /* padding: 120px; */
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 0px;
  padding-bottom: 0%;
}

.sect-header {
  text-align: center;
  margin: 0 auto 60px;
}

.sect-header h2 {
  margin-top: 84px;
  font-size: 48px;
  color: #001931;
}

.sect-header p {
  margin-top: 16px;
  color: #627382;
  font-size: 16px;
}

.notes-grid {
  display: flex;
  gap: 32px;
}

.note-card {
  width: 322px;
  height: 300px;
  /* padding: 32px 24px; */
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16;
  padding: 24px;
}

.note-card:hover {
  border-color: transparent;
  box-shadow: 4px 2px 10px rgb(219, 121, 175);
}

.note-card h3 {
  margin-bottom: 12px;
  color: #001931;
  font-size: 20px;
  text-align: center;
}

.note-card p {
  color: #627382;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.icon-box {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px;
  background: rgba(249, 85, 85, 1);

}

.footer {
  background-color: black;
  /* width: 1600px; */
  padding-bottom: 30px;
  padding: 120px 120px 30px 120px;
  color: white;
  max-height: 348px;
  /* margin-bottom: 30px;
    margin:120px */
}

/* .footer h2{
  color:  rgba(0, 25, 49, 1);
}

.footer p{
  color:  rgba(98, 115, 130, 1);
} */

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 83.5px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-links {
  display: flex;
  gap: 24px;
}


#line {
  /* margin-top: 83.5px; */
  height: 0%;
  border: 1px solid rgba(229, 231, 235, 1);
  opacity: 0.2;
}

.copyright {
  margin-top: 30px;
  /* margin-bottom: 30px; */
  text-align: center;
  font-size: 14px;
  color: #94A3B8;
}


.sb-sect {
  margin: 120px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60;

}

.sb-text {
  /* width: 1360px;
  height: 600px; */
  margin-top: 102px;
  margin-bottom: 102px;
}

.sb-text h2 {
  color: #001931;
  font-size: 48px;
}

.sb-text p {
  color: #627382;
  font-size: 16px;
}

.sb-content {
  display: flex;
  align-items: center;
  gap: 80px;
}

.sb-image {
  height: 600px;
  width: 600px;
}

.badge {
  display: inline-block;
  /* padding: 6px 16px; */
  background-color: #EFF6FF;
  color: #469165;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
}

.sb-sect h2 {
  color: #111827;
  margin-bottom: 16px;
}

.sb-sect p {
  color: #4B5563;
  font-size: 17px;
  margin-bottom: 32px;
}

.features {
  list-style: none;
  padding: 0;
  margin-top: 24px;
  color: rgba(0, 25, 49, 1);
}

.features li {
  position: relative;
  padding-left: 32px;
  margin-bottom: 14px;
  line-height: 1.5;
}

.features li img {
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
}

.early-access-section {
  color: rgba(98, 115, 130, 1);
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
}

.early-access-section h2 {
  color: rgba(98, 115, 130, 1);
}

.early-access-box {
  margin: 80px 40px;
  /* border-radius: 12px;
     background: rgba(247, 246, 242, 1); */
  /* border-radius: 16px; */
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.early-access-box h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 16px;
}

.early-access-box p {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 24px;
}

.cta-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30B868;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.cta-btn:hover {
  /* border: 1px solid black; */
  /* background-color: rgb(148, 148, 224); */
  background-color: rgb(44, 73, 1);
  /* color: black; */
}

.cta-btn img {
  width: 14px;
}

.footer-note {
  margin-top: 16px;
  display: block;
  font-size: 16px;
  color: #627382;
}